{% extends "base.html" %}
{% set title = "Dashboard" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
{% block content %}
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="align-middle">Job Title</th>
            <th scope="col" class="align-middle">Job ID</th>
            <th scope="col" class="align-middle">Trigger</th>
            <th scope="col" class="align-middle">Next Run At</th>
            <th scope="col" class="align-middle">Operations</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr id="job-{{ job.id }}-row">
            <th scope="row" class="align-middle">{{ job.name }}</th>
            <td class="align-middle">{{ job.id }}</td>
            <td class="align-middle">{{ job.trigger }}</td>
            <td class="align-middle">{{ job.next_run_time }}</td>
            <td class="align-middle">
                <a href="{{ url_for('api.job_run', job_id=job.id) }}" class="btn btn-primary" role="button">
                    <i class="fas fa-bolt fa-lg"></i>
                </a>
                {% if job.next_run_time %}
                <a href="{{ url_for('api.job_pause', job_id=job.id) }}" class="btn btn-primary" role="button">
                    <i class="fas fa-pause fa-lg"></i>
                </a>
                {% else %}
                <a href="{{ url_for('api.job_resume', job_id=job.id) }}" class="btn btn-primary" role="button">
                    <i class="fas fa-play fa-lg"></i>
                </a>
                {% endif %}
                <a href="{{ url_for('job.modify', job_id=job.id) }}" class="btn btn-primary" role="button">
                    <i class="fas fa-edit fa-lg"></i>
                </a>
                <a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#remove-job-{{ job.id }}-modal">
                    <i class="fas fa-trash fa-lg"></i>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="remove-job-{{ job.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="remove-job-{{ job.id }}-modal-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="remove-job-{{ job.id }}-modal-title">Delete a Job</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to remove {{ job.name }} (#{{ job.id }})?</p>
                            </div>
                            <div class="modal-footer">
                                <div class="mx-auto">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a href="#" class="remove-job-button" data-job-id="{{ job.id }}" data-remove-endpoint="{{ url_for('api.job_remove', job_id=job.id) }}">
                                        <button type="button" class="btn btn-danger">Remove</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}