{% extends "base.html" %}
{% if job %}
{% set title = "Modify Job" %}
{% else %}
{% set title = "Add Job" %}
{% endif %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/job.css') }}">
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/job.js') }}"></script>
{% if form.errors|length > 0 %}
<!-- Validators -->
<script type="text/javascript">
function display_error(field, msg) {
    field.addClass("is-invalid").parent().append($("<div/>", {
        "class": "invalid-feedback"
    }).html(msg))
}
{% for field, error in form.base_args.errors.items() %}
display_error($("#base_args-{{ field }}"), "{{ error|join('<br>')|safe }}");
{% endfor %}
{% for field, error in form.cron_trigger_args.errors.items() %}
display_error($("#cron_trigger_args-{{ field }}"), "{{ error|join('<br>')|safe }}");
{% endfor %}
{% for field, error in form.date_trigger_args.errors.items() %}
display_error($("#date_trigger_args-{{ field }}"), "{{ error|join('<br>')|safe }}");
{% endfor %}
{% for field, error in form.interval_trigger_args.errors.items() %}
display_error($("#interval_trigger_args-{{ field }}"), "{{ error|join('<br>')|safe }}");
{% endfor %}
</script>
{% endif %}
{% endblock %}
{% block content %}
<form id="job" name="" class="needs-validation" method="POST" novalidate>
    <div class="form-row">
        <!-- id -->
        <div class="form-group col-6">
            {{ form.base_args.job_id.label }}
            {% if job %}
            {{ form.base_args.job_id(readonly="") }}
            {% else %}
            {{ form.base_args.job_id() }}
            {% endif %}
        </div>
        <!-- name -->
        <div class="form-group col-6">
            {{ form.base_args.job_name.label }}
            {{ form.base_args.job_name() }}
        </div>
    </div>
    <div class="form-row">
        <!-- func -->
        <div class="form-group col-4">
            {{ form.base_args.func.label }}
            {{ form.base_args.func() }}
        </div>
        <!-- args -->
        <div class="form-group col-4">
            {{ form.base_args.args.label }}
            {{ form.base_args.args() }}
        </div>
        <!-- kwargs -->
        <div class="form-group col-4">
            {{ form.base_args.kwargs.label }}
            {{ form.base_args.kwargs() }}
        </div>
    </div>
    <!-- coalesce -->
    <div class="custom-control custom-switch">
        {% if job and job.coalesce %}
        {{ form.base_args.coalesce(checked="") }}
        {% else %}
        {{ form.base_args.coalesce() }}
        {% endif %}
        {{ form.base_args.coalesce.label(class="custom-control-label") }}
    </div>
    <!-- trigger -->
    <div class="form-group">
        {{ form.base_args.trigger.label }}
        <div id="base_args-trigger" class="form-control btn-group btn-group-toggle" data-toggle="buttons">
            {% for subfield in form.base_args.trigger %}
            <label class="btn btn-secondary">
                {{ subfield(class="trigger") }}
                {{ subfield.label }}
            </label>
            {% endfor %}
        </div>
    </div>
    <div id="cron-trigger-args-box" class="trigger-args-boxes">
        <h1>{{ form.cron_trigger_args.label }}</h1>
        <div class="form-row">
            <!-- year -->
            <div class="form-group col-4">
                {{ form.cron_trigger_args.year.label }}
                {{ form.cron_trigger_args.year() }}
            </div>
            <!-- month -->
            <div class="form-group col-4">
                {{ form.cron_trigger_args.month.label }}
                {{ form.cron_trigger_args.month() }}
            </div>
            <!-- day -->
            <div class="form-group col-4">
                {{ form.cron_trigger_args.day.label }}
                {{ form.cron_trigger_args.day() }}
            </div>
        </div>
        <div class="form-row">
            <!-- week -->
            <div class="form-group col-4">
                {{ form.cron_trigger_args.week.label }}
                {{ form.cron_trigger_args.week() }}
            </div>
            <!-- day_of_week -->
            <div class="form-group col-4">
                {{ form.cron_trigger_args.day_of_week.label }}
                {{ form.cron_trigger_args.day_of_week() }}
            </div>
            <!-- hour -->
            <div class="form-group col-4">
                {{ form.cron_trigger_args.hour.label }}
                {{ form.cron_trigger_args.hour() }}
            </div>
        </div>
        <div class="form-row">
            <!-- minute -->
            <div class="form-group col-4">
                {{ form.cron_trigger_args.minute.label }}
                {{ form.cron_trigger_args.minute() }}
            </div>
            <!-- second -->
            <div class="form-group col-4">
                {{ form.cron_trigger_args.second.label }}
                {{ form.cron_trigger_args.second(type="number", class="form-control", min="0", max="59") }}
            </div>
            <!-- jitter -->
            <div class="form-group col-4">
                {{ form.cron_trigger_args.jitter.label }}
                {{ form.cron_trigger_args.jitter() }}
            </div>
        </div>
        <div class="form-row">
            <!-- start_date -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.start_date.label }}
                {{ form.interval_trigger_args.start_date() }}
            </div>
            <!-- end_date -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.end_date.label }}
                {{ form.interval_trigger_args.end_date() }}
            </div>
            <!-- timezone -->
            <div class="form-group col-4">
                {{ form.cron_trigger_args.timezone.label }}
                {{ form.cron_trigger_args.timezone() }}
            </div>
        </div>
    </div>
    <div id="date-trigger-args-box" class="trigger-args-boxes">
        <h1>{{ form.date_trigger_args.label }}</h1>
        <div class="form-row">
            <!-- run_date -->
            <div class="form-group col-6">
                {{ form.date_trigger_args.run_date.label }}
                {{ form.date_trigger_args.run_date() }}
            </div>
            <!-- timezone -->
            <div class="form-group col-6">
                {{ form.date_trigger_args.timezone.label }}
                {{ form.date_trigger_args.timezone() }}
            </div>
        </div>
    </div>
    <div id="interval-trigger-args-box" class="trigger-args-boxes">
        <h1>{{ form.interval_trigger_args.label }}</h1>
        <div class="form-row">
            <!-- weeks -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.weeks.label }}
                {{ form.interval_trigger_args.weeks() }}
            </div>
            <!-- days -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.days.label }}
                {{ form.interval_trigger_args.days() }}
            </div>
            <!-- hours -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.hours.label }}
                {{ form.interval_trigger_args.hours() }}
            </div>
        </div>
        <div class="form-row">
            <!-- minutes -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.minutes.label }}
                {{ form.interval_trigger_args.minutes() }}
            </div>
            <!-- seconds -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.seconds.label }}
                {{ form.interval_trigger_args.seconds() }}
            </div>
            <!-- jitter -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.jitter.label }}
                {{ form.interval_trigger_args.jitter() }}
            </div>
        </div>
        <div class="form-row">
            <!-- start_date -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.start_date.label }}
                {{ form.interval_trigger_args.start_date() }}
            </div>
            <!-- end_date -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.end_date.label }}
                {{ form.interval_trigger_args.end_date() }}
            </div>
            <!-- timezone -->
            <div class="form-group col-4">
                {{ form.interval_trigger_args.timezone.label }}
                {{ form.interval_trigger_args.timezone() }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <!-- executor -->
        <div class="form-group col-4">
            {{ form.base_args.executor.label }}
            {{ form.base_args.executor() }}
        </div>
        <!-- misfire_grace_time -->
        <div class="form-group col-4">
            {{ form.base_args.misfire_grace_time.label }}
            {{ form.base_args.misfire_grace_time() }}
        </div>
        <!-- max_instances -->
        <div class="form-group col-4">
            {{ form.base_args.max_instances.label }}
            {{ form.base_args.max_instances() }}
        </div>
    </div>
    <!-- next_run_time -->
    <div class="form-group">
        {{ form.base_args.next_run_time.label }}
        {{ form.base_args.next_run_time() }}
    </div>
    <!-- replace_existing -->
    {% if not job %}
    <div class="custom-control custom-switch">
        {{ form.base_args.replace_existing() }}
        {{ form.base_args.replace_existing.label(class="custom-control-label") }}
    </div>
    {% endif %}
    {{ form.csrf_token }}
    {{ form.type }}
    {{ form.submit(class="btn btn-primary btn-lg m-2") }}
</form>
{% endblock %}