[Unit]
Description=Core server of Heartbeat
After=network.target
PartOf=Heartbeat-main.target

[Service]
WorkingDirectory=/var/www/Heartbeat
User=$username
; You can get $pyenv-uwsgi-abs-path by running `which python` when pipenv is activated
ExecStart=$pyenv-python-abs-path core.py

[Install]
WantedBy=multi-user.target
