[Unit]
Description=uWSGI instance to serve Heartbeat
After=network.target
PartOf=Heartbeat-main.target

[Service]
WorkingDirectory=/var/www/Heartbeat
Environment=FLASK_ENV=production
; You can get $pyenv-uwsgi-abs-path by running `which uwsgi` when pipenv is activated
ExecStart=$pyenv-uwsgi-abs-path --ini instance/uwsgi.ini

[Install]
WantedBy=multi-user.target
