[Unit]
Description=uWSGI instance to serve TSkr
After=network.target

[Service]
WorkingDirectory=/var/www
ExecStart=uwsgi --ini TSkr/deploy/uwsgi.ini --touch-reload TSkr/deploy/uwsgi.ini

[Install]
WantedBy=multi-user.target
